azure-core==1.41.0
azure-ai-ml==1.32.0
azure-identity==1.25.3
azureml-evaluate-mlflow==0.0.89
ffmpeg-python==0.2.0
langcodes==3.5.1
sentencepiece==0.2.1
accelerate==1.13.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.62.0
azureml-telemetry==1.62.0
azureml-automl-dnn-vision==1.62.0
pyarrow==14.0.2
GitPython==3.1.50
paramiko==4.0.0
cryptography==44.0.2
